name: Rust

on:
  push: # Comment this line to trigger action only on pull-requests (not recommended if you don't pay for GH Actions)
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2
      - name: Run database
        run: docker-compose -f docker/test/docker-compose.yml up --build -d
      - run: cargo build --all-targets
        env:
          RUSTFLAGS: "-C instrument-coverage"
      - name: Run
        env:
          CUSTOM_DOMAIN: example.com
          DYNAMODB_TABLE: table_name
          LOCAL_DYNAMODB_URL: http://localhost:8000
          REGION: eu-west-1
        run: cargo run &
      - name: Run tests
        run: cargo run --example test http://localhost:8080
      - uses: actions-rs/grcov@v0.1.6
      - uses: codecov/codecov-action@v3.1.1
