name: Rust

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Cache dependencies
      uses: Swatinem/rust-cache@v2
    - name: Build
      run: cargo build --all-targets
    - name: Run
      env:
        CUSTOM_DOMAIN: example.com
        DYNAMODB_TABLE: table_name
        FIXED_UUID: abcdef1234567890abcdef1234567890
        LOCAL_DYNAMODB_URL: http://localhost:8000
        REGION: eu-west-1
      run: cargo run &
    - name: Run database
      run: docker-compose -f docker/test/docker-compose.yml up --build -d
    - name: Run tests
      run: cargo run --example test
    - name: Format check
      run: cargo fmt --all -- --check
    - name: Static code analysis
      run: cargo clippy --all -- -W clippy::all -W clippy::pedantic
    - name: Check unused dependencies
      run: |
        rustup install nightly-x86_64-unknown-linux-gnu
        cargo install cargo-udeps --locked
        cargo +nightly udeps --all-targets
