name: Rust

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Cache dependencies
      uses: Swatinem/rust-cache@v2
    - name: Build
      env:
        CUSTOM_DOMAIN: example.com
        DYNAMODB_TABLE: table_name
        FIXED_UUID: abcdef1234567890abcdef1234567890
        LOCAL_DYNAMODB_URL: http://localhost:8000
        REGION: eu-west-1
      run: |
        cargo build
        cargo run &
    - name: Run database
      run: docker-compose -f docker/test/docker-compose.yml up --build -d
    - name: Run tests
      run: cargo run --example test
